<div class="container">
    <app-top-nav-bar></app-top-nav-bar>
    <div class="row height-100">
        <div class="col-md-2 offset-md-1 height-100 margin-top-20 pos-fix margin-top-70">
            <app-left-nav-bar></app-left-nav-bar>
        </div>
        <div class="col-md-4 offset-md-4 margin-top-70">
            <div class="row margin-top-100">
                <label for="email">Your Email: </label>
                <input class="form-control" [(ngModel)]="email" name="email" autofocus>
            </div>
            <div class="row margin-top-10">
                <button class="btn btn-success" (click)="sendEmail()">Send Email</button>
            </div>
        </div>
    </div>
</div>